<footer class="bd-footer text-muted my-footer">
    <p class="mt-5 mb-3 text-muted text-center">
        
        <ul class="container">
            <div class="row">
                <div class="text-decoration-none text-muted mb-3">
                    Created by Leonid Perlin АПО-13
                </div>
            <li class="col-2"><a class=" text-decoration-none text-muted" href="https://github.com/perlinleo/technopark-mail.ru-web-technologies-2021/tree/master">GitHub</a></li>
            <li class="col-2"><a class=" text-decoration-none text-muted" href="https://t.me/leonidperlin">Telegram</a></li>
            <li class="col-2"><a class=" text-decoration-none text-muted" href="https://park.mail.ru/profile/l.perlin/">Technopark Profile</a></li>
        
            </div>
        </ul>
    </p>
</footer>