{% extends "include/base.html" %}
{% load static %}

{% block headline %}
                    <div class="caption pb-3"> New Question </div>
{% endblock headline %}

{% block content %}
                    <form>
                        <div class="d-flex ms-5 mb-5">
                            <label for="inputTitle"
                                class="col-sm-2 col-form-label col-form-label-lg caption-small">Title</label>
                            <div class="d-flex w-100">
                                <input type="text" class="form-control" placeholder="Enter your question`s label"
                                    id="inputTitle">
                            </div>
                        </div>
                        <div class="d-flex ms-5 mb-5">
                            <label for="inputText"
                                class="col-sm-2 col-form-label col-form-label-lg caption-small">Text</label>
                            <div class="d-flex w-100">
                                <textarea class="form-control" rows="10" placeholder="Enter your question"
                                    id="inputText"></textarea>
                            </div>
                        </div>
                        <div class="d-flex ms-5 mb-5">
                            <label for="inputTags"
                                class="col-sm-2 col-form-label col-form-label-lg caption-small">Tags</label>
                            <div class="d-flex w-100">
                                <input type="text" class="form-control" placeholder="Ubuntu, Techopark, ..."
                                    id="inputTags">
                            </div>
                        </div>
                        <div class="d-flex mb-3 w-100 justify-content-end">
                            <div class="d-flex">
                                <button type="submit" class="btn btn-success btn-lg">ASK!</button>
                            </div>

                        </div>
                    </form>
                </div>
{% endblock content %}