{% extends "include/base.html" %}
{% load static %}

{% block headline %}

<div class="d-flex align-items-end ms-5 mb-4 mt-2">
    <div >
        <a href="{% url 'index' %}" class="w-25 caption" style="font-weight: 100;"> New Questions </a>
    </div>
    <div class="w-25 caption px-5" style="font-weight: 100; text-decoration: none;">
        <a href="{% url 'hot_questions' %}" class="w-25 hot-questions" style="text-decoration: none;">Hot Questions</a>
    </div>
</div>


{% endblock headline %}

{% block content %}
    {% for question in questions %}
        {% include "include/question.html" %}
    {% endfor %}
    {% include "include/paginator.html" %}

{% endblock content %}
