{% extends "include/base.html" %}
{% load static %}


{% block headline %}

                    <div class="d-flex align-items-end ms-5 ps-5 mb-4 mt-2">
                        <div class="caption">
                            Settings
                        </div>
                    </div>

{% endblock headline %}

{% block content %}
                    <form>
                        <div class="d-flex ms-5 ps-5 mb-3 w-100">
                            <label for="inputLogin"
                                class="col-sm-2 col-form-label col-form-label-lg caption-small">Name</label>
                            <div class="d-flex w-100">
                                <input type="text" class="form-control" placeholder="@LeonidPerlin" id="inputLogin">
                            </div>
                        </div>
                        <div class="d-flex ms-5 ps-5 mb-3 w-100">
                            <label for="inputEmail"
                                class="col-sm-2 col-form-label col-form-label-lg caption-small">E-mail</label>
                            <div class="d-flex w-100">
                                <input type="email" class="form-control" placeholder="name@mail.ru" id="inputEmail">
                            </div>
                        </div>
                        <div class="d-flex ms-5 ps-5 mb-3 w-100">
                            <label for="inputAvatar"
                                class="col-sm-2 col-form-label col-form-label-lg caption-small">Avatar</label>
                            <div class="d-flex flex-column">
                                <img class="rounded-circle shadow" src="../static/img/my_avatar.jpg" width="250px"
                                    height="250px">
                                <div class="d-flex mt-2">
                                    <input type="file" class="form-control" placeholder="python" id="inputAvatar">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex mb-3 ms-5 ps-5 w-100 justify-content-start">
                            <div class="col-sm-2"></div>
                            <div class="d-flex">
                                <button type="submit" class="btn btn-success btn-lg">Save</button>
                            </div>

                        </div>
                </form>
{% endblock content %}
                